<div class="grid-container">
    <mat-grid-list cols="4" rowHeight="350px">
        <mat-grid-tile colspan="3" rowspan="2">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{ selectedChapter ||'Chapter Title'}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content markdown-content">

                    <markdown katex [data]="chapter?.chapter_details.text">
                    </markdown>

                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        Subjects
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-action-list>
                        <button mat-list-item *ngFor="let subject of course?.subjects"
                            (click)="getChapters(subject.id, subject.name)">{{subject.name}}</button>
                    </mat-action-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                        {{selectedSubject || 'Chapters'}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <mat-action-list *ngIf="chapters">
                        <button mat-list-item *ngFor="let c of chapters"
                            (click)="showChapterDetails(c.name, c.id)">{{c.name}}</button>
                    </mat-action-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>