<div class="login-div">
    <mat-card class="login-card">
        <mat-card-content>
            <h1><span class="xtreme">Xtreme</span> Success</h1>
            <p>Login to View Dashboard</p>
            <form class="login-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Ex. johndoe@gmail.com">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="******">
                </mat-form-field>
                <a mat-raised-button color="primary" (click)="login()">Login</a>
            </form>
            <br>
            <small>*Please go to our app if you don't have an account.</small>
        </mat-card-content>
    </mat-card>
</div>