.login-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.login-card {
    width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: inherit;
    margin-top: 40px;
}